@import "tailwindcss";

body {
  background: url(../public/background.webp);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

strong {
  color: #c7ccd5;
}

@media (hover: none) {
  .custom-cursor {
    display: none;
  }

  * {
    cursor: auto;
  }
}
